@{
    ViewBag.Title = "Home Page";
}



<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>

<div class="jumbotron">

    <script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script>
    <coingecko-coin-compare-chart-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" locale="en"></coingecko-coin-compare-chart-widget>

</div>



<div class="col-md-5">  </div>
<div class="col-md-4">

    <h1 class="title-head">ABOUT US</h1>

</div>


<div class="col-md-12"> <hr /> </div>


<div class="container col-md-6">
    <img src="http://i.imgur.com/bdZDJLm.jpg" class="img-thumbnail img-responsive" height="600" , width="550" alt="Bitcoin" />
</div>

<div class="col-md-6 panel panel-default">

    <div class=" panel-heading">
        <h3 style="text-align: center">WELCOME TO TFX-XM</h3>
    </div>

    <div class="panel-body">
        <p>
            TFX-XM Investment Corporate Company Limited is avery experienced and promising organization in the field of trustee administration and long-haul ventures. The joining of distinctive systems and techniques add to income, gainful collaboration, and organized advancement
        </p>
    </div>

</div>



