body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,


html {
    font-family: 'Open Sans', sans-serif;
}

.navBar {
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: #23a127;
}

.navbar-inverse {
    background-color: #333333;
    border-color: #999999;
}
.navbar-inverse .navbar-brand {
    color: #23a127;
}

.panel-heading {
    color: #ff4136;
    background-color: #f5f5f5;
    border-color: transparent;
}

.panel-default > .panel-heading {
    color: #ff4136;
    background-color: #f5f5f5;
    border-color: transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 22px;
    line-height: 20px;
}

.title-head {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    margin-top: 0;
    color: #23a127;
    position: relative;
    text-transform: uppercase;
    margin: 0 15px;
}

.footer-title-head {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    margin-top: 0;
    color: #23a127;
    position: relative;
    text-transform: uppercase;
    margin: 0 15px;
}

.debo {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #ff4136;
}



.footer {
    background-color: black;
    font-size: 14px;
    color: #ff4136;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    transition: .1s;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

footer .top-footer h4 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 28px;
    color: #23a127;
    font-weight: 600;
}

.footer .top-footer .menu ul li a {
    text-transform: uppercase;
    color: #ff4136;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    transition: .1s;
}

.top-footer .contacts > div {
    padding-bottom: 12px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.footer .top-footer .menu ul {
    list-style-type: none;
}

a:link, a:hover, a:visited {
    text-decoration: none;
}

a {
    background-color: transparent;
}

li {
    text-align: -webkit-match-parent;
}

body, p {
    -webkit-font-smoothing: antialiased !important;
    line-height: 28px;
}

* {
    box-sizing: border-box;
}

a:-webkit-any-link {
   
    cursor: pointer;
}

li {
    text-align: -webkit-match-parent;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.top-footer .contacts > div {
    padding-bottom: 12px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.facts-footer > div {
    width: 49%;
    display: inline-block;
}

.facts-footer > div span {
        text-transform: uppercase;
        font-size: 12px;
        color: #999;
 }

.footer .top-footer h4.payment-title {
    color: #999;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.payment-logos img {
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

.footer .top-footer .social-footer ul li a {
    display: block;
    color: #ccc;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    background: #1d1d1d;
    transition: .1s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer .top-footer .social-footer {
    margin: 0 0 12px;
}
.payment-logos img.last {
    margin-right: 0;
}

.bgimg {
    background-color: seashell;
}