


<footer class="footer">

    <!-- Footer Top Area Starts -->
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>Our Company</h4>
                    <div class="menu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">faq</a></li>
                            <li><a href="">invest</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>Help & Support</h4>
                    <div class="menu">
                        <ul>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Terms of Services</a></li>
                            <li><a href="">Withdraw</a></li>

                            <li><a href="">Register</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-3">
                    <h4>Contact Us </h4>
                    <div class="contacts">
                        <div>
                            <span>support@primefx-xm.com</span>
                        </div>
                        <div>
                            <span>AVAILABLE TO ALL MEMBERS </span>
                        </div>
                        <div>
                            <span>70 Gracechurch St, London, EC3V 0HR UNITED KINGDOM </span>
                        </div>
                        <div>
                            <span>mon-sat 08am &#x21FE; 05pm</span>
                        </div>
                    </div>
                    <!-- Social Media Profiles Starts -->
                    <div class="social-footer">
                        <ul></ul>
                    </div>
                    <!-- Social Media Profiles Ends -->
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-12 col-md-5">
                    <!-- Facts Starts -->
                    <div class="facts-footer">
                        <div>
                            <h4>Company Number: </h4>
                            <span>11727681</span>
                        </div>
                        <div>
                            <h4>243K</h4>
                            <span>daily transactions</span>
                        </div>
                        <div>
                            <h4>119K</h4>
                            <span>active accounts</span>
                        </div>
                        <div>
                            <h4>127</h4>
                            <span>supported countries</span>
                        </div>
                    </div>
                    <!-- Facts Ends -->
                    <hr>
                    <!-- Supported Payment Cards Logo Starts -->
                    <div class="payment-logos">
                        <h4 class="payment-title">supported payment methods</h4>
                        <img src="~/Content/Images/americanExpress.png" alt="american-express">
                        <img src="~/Content/Images/masterCard.png" alt="mastercard">
                        <img src="~/Content/Images/visa.png" alt="mastercard">
                        <img src="~/Content/Images/paypal.png" alt="mastercard">


                        <img class="last" src="~/Content/Images/maestro.png" alt="maestro">
                    </div>
                    <!-- Supported Payment Cards Logo Ends -->
                </div>
                <!-- Footer Widget Ends -->
            </div>
        </div>
    </div>
    <!-- Footer Top Area Ends -->
    <!-- Footer Bottom Area Starts -->
    @*<div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Copyright Text Starts -->
                        <p class="text-center">&copy;Copyright <span id="copyright">
                        <script>document.write(new Date().getFullYear());</script></span> All rights reserved PRIMEFX-XM</p>
                        <!-- Copyright Text Ends -->
                    </div>
                </div>
            </div>
        </div>*@

    <p>&copy; @DateTime.Now.Year - All Rights Reserved TFX-XM</p>
</footer>


